.header_wrapper {
    font-size: 120px;
    text-align: center;
}

.board_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board_con {
  border: 2px solid black;
  height: 710px;
  width: 100%;
  max-width: 710px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.board {
  width: 140px;
  border: 1px solid black;
  text-align: center;
  font-size: 100px;
}
